body {
    background-color: floralwhite;
    text-align: center;
}

div{
    text-align: center;
    font-size: 24px;
    font-family: Verdana;
    padding-top: 25px;
    color: navy;
}

body {
    border: 2px;
    border-style: double;
    color: navy;
}
#filesbox{
    height: 150px;
    width: 50%;
    border: 2px;
    border-style: double;
    display: inline-block;
    overflow: scroll;
}

#logout{
    color: black;
    text-align: right;
    
}